
    ${interfaceOutput} ${interfaceNameHump}(#if(${interface.inputServlet})HttpServletResponse response#if(${interfaceInput} != ""),#end #end#if(${interfaceInput} != "")${interfaceInput} ${interfaceInputVar}#end);
